{% extends 'base.html' %}

{% block title %}Registracija - Beauty Salon{% endblock %}

{% block content %}
    <h1>Registracija</h1>
    <form action="#" method="post">
        <label for="username">Uporabniško ime:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="password">Geslo:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Registriraj se</button>
    </form>
{% endblock %}
